
.about {
  
  color: white;
  background-color: black;
  width: 40%;
  margin: auto;
  box-sizing: border-box;
  
}

.textAbout p {
  font-size: 20px;
  line-height: 1.8;
  text-align: justify;
}

/* Responsive styles */
@media (max-width: 991.98px) {
  .about {
    width: 90%;
  }
}

@media (max-width: 575.98px) {
  .textAbout {
    padding: 0 15px;
  }
}

